<h1>A Greeting for You!</h1>
<p><%= @message %></p>

<h2>The time is now:</h2>
<p><%= @time %></p>

<h3>Welcome to the homepage of UCAS</h3>
<a href="http://www.gucas.ac.cn">University of Chinese Academy of Sciences</a>

<h4> The second page!</h4>
<a href="/software/world">Click</a>

<h5>View The high_scores database Here</h5>
<a href="/high_scores">course</a>

